SECRET_KEY=NyWEGbwdl0CzhtsTeB#upiAS&nmq!ZXP$7MU2f4Ia^oQLx8J5F
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

POSTGRES_DB=stockeasy_db
POSTGRES_USER=stockeasy_user
POSTGRES_PASSWORD=Caramella3546
POSTGRES_HOST=db
POSTGRES_PORT=5432

REDIS_URL=redis://redis:6379/0
